
/* importando font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

.container{
    display: grid;
    align-content: space-evenly;

}

.container .row .col{
    padding-left: 0px;
    padding-right: 0px;
}

.container .row .col #mes{
    margin-right: 15px;
}

select {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding: 10px 20px 10px 12px;
    outline: none;
    font-weight: 400;
    border: 1px solid rgb(149, 149, 149);
    letter-spacing: 1px;
    background: transparent;
    border-radius: 5px;
}

#year{
    margin-left: 10px;
    width: 92%;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    
}


section .contentBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #f5f5f5; 
    background: #e0e0e0;
    background-image: linear-gradient(to bottom, #f6f6f6, #f0f0f0, #ebebeb, #e5e5e5, #e0e0e0); 
    /* background-image: near-gradient(to right top, #f2f2f2, #ebebeb, #e4e4e4, #dddddd, #d6d6d6);
    background-image: -webkit-near-gradient(to right top, #f2f2f2, #ebebeb, #e4e4e4, #dddddd, #d6d6d6);
 */
}

section .contentBox .formBox{
    min-width: 440px;
    max-width: 600px;
    min-height: 400px;
    padding:40px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 5%;   
}

section .contentBox .formBox h2{
    font-size: var(--mobile-font-size);
    color: #5047E6;
    font-weight: 600;
    font-size: 1.8em;
    margin-top: 20px;
    margin-bottom: 0px;
    display: inne-block;
    letter-spacing: 1px;
    justify-content:center;
    text-align: center;
    width: 100%;
}


section .contentBox .formBox .inputBx{
    margin-bottom: 20px;
}

section .contentBox .formBox label{
    font-size: 16px;
    font-size: var(--mobile-font-size);
    margin: 5px 0;
    display: inne-block;
    color: black;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
}

section .contentBox .formBox span{
    font-size: 16px;
    font-size: var(--mobile-font-size);
    margin: 5px 0;
    display: inne-block;
    color: black;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
}


section .contentBox .formBox input{
    width: 100%;
    padding: 9px 40px 10px 12px;
    outline: none;
    font-weight: 400;
    border: 1px solid #b2b1b1;
    letter-spacing: 1px;
    background: transparent;
    border-radius: 5px;
    

}

section .contentBox .formBox input:hover{
    border: 1px solid #5047E6;
    overflow: hidden;
}

section .contentBox .formBox input:hover{
    border: 1px sod #5047E6;
    overflow: hidden;
}

input:focus::placeholder {
    color: transparent;
  }

 .logo{
    max-width: 256px;
    height: 80px;
 }

 #btnLogIn {
    color: white;
    background-color: #5047E6;
    font-weight: 500;
    font-size: 20px;
    font-size: var(--mobile-font-size);
    padding: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    justify-items: center;
    justify-content: center;
    border: 2px solid #5047E6;
}

#btnLogIn:hover{
    background-color: #4f47e6cb;
    color: #f5f5f5;
    overflow: hidden;
    border-color: transparent;

}

#btnLimpiar {
    color: black;
    background-color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    font-size: var(--mobile-font-size);
    padding: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    justify-items: center;
    justify-content: center;
    border: 2px solid #120e0e;
    width: 95%;
   /*  transition-delay: 0s;
    transition-duration: 0s;
    -webkit-transition-duration: calc(0.01s); */

}

#btnLimpiar:hover{
    background-color: #4f47e6cb;
    border-color: transparent;
    color: #f5f5f5;
    overflow: hidden;
}


@media screen and (max-width: 700px){
    section .contentBox{
        display:flex;
        justify-content:center;
        align-items:center;
        width: 100%;
        height: 100%;
        z-index:1;
        overflow: hidden;
        background: white;
/*         background-image: linear-gradient(to top, #f6f6f6, #f0f0f0, #ebebeb, #e5e5e5, #e0e0e0);
 */       /*  background-image: near-gradient(to right top, #f2f2f2, #ebebeb, #e4e4e4, #dddddd, #d6d6d6);
        background-image: -webkit-near-gradient(to right top, #f2f2f2, #ebebeb, #e4e4e4, #dddddd, #d6d6d6);
      */
    }

    section .contentBox .formBox{
        width: 100%;
        padding:40px;
        background: white;
/*         box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 */     box-shadow: rgba(255, 255, 255, 0) 0px 3px 8px;
        margin: 5%;        
    }

}
